@import '../../../../common';

.repoCard {
  background-color: $rs-lightgrey;
  color: $rs-black;
  border: 3px solid $rs-darkgrey;
  border-radius: 3px;
  padding: 2vh 2vw;

  @media screen and (max-width: $width-cutoff){
    min-width: 90vw;
  }

  @media screen and (min-width: $width-cutoff + 1px){
    min-width: 25vw;
  }
}

